@import "./variable.scss";
@import "./font.scss";
@import "node_modules/bootstrap/scss/bootstrap.scss";
@import "node_modules/bootstrap-vue/src/index.scss";
@import "./images.scss";
@import "./icons.scss";
@import "./layout.scss";
@import "./transition.scss";

#app {
  word-break: keep-all;
  min-height: 100vh;
  flex-direction: column;
  display: flex;
  // text-transform: capitalize;
}

html,
body,
div,
section,
ul {
  &::-webkit-scrollbar {
    display: none;
    // width: 4px;
    // background-color: #ededed;
  }
  &::-webkit-scrollbar-thumb {
    display: none;
    // width: 4px ;
    // background-color: $primary;
    // border-radius: 1rem;
  }
}

body {
  overflow-x: hidden;
  color: rgba($color: #000000, $alpha: 1);
  font-size: 1rem;
  font-family: "SF_HailSnow", "Noto Sans KR", sans-serif;
  font-size: 1rem;
  letter-spacing: -0.03rem;
}
#app {
  overflow-x: hidden;
}

// nav
nav {
  padding: 0.5rem;
  border-bottom: 2px solid #222;
}

$max-height: calc(100vh - 56px);

// path: "/", Home
.home-wrapper {
  display: flex;
  align-items: stretch;
  max-height: $max-height;
  overflow-y: hidden;
}

.player-line {
  height: 100%;
  margin: 0;
  max-height: $max-height;
  border-left: 1px solid #222;
  border-right: 1px solid #222;
}
// .player-el {
//   position: relative;
//   border-top: 4px solid $primary;
//   cursor: pointer;
//   z-index: 5;
//   color: $primary;
//   transition: 2.3s;
//   .vl {
//     // vertical line
//     width: 4px;
//     height: 100%;
//     position: absolute;
//     top: 0;
//     left: 14rem;
//     z-index: 3;
//     background-color: $primary;
//     content: "";
//     transition: 1s;
//   }

//   &::after {
//     display: block;
//     position: absolute;
//     content: "";
//     z-index: 2;
//     width: 100%;
//     height: 100%;
//     background-color: rgba($color: $primary, $alpha: 0.3);
//     top: 0;
//     left: 0;
//     transform: translateX(-100%);
//     transition: cubic-bezier(0.075, 0.82, 0.165, 1) 3s;
//   }
//   &:hover {
//     color: $secondary;
//     .vl {
//       background-color: $secondary;
//     }
//     &::after {
//       transform: translateX(0);
//       background-color: rgba($color: $primary, $alpha: 1);
//     }
//   }
// }

// 작업물 이미지
figure {
  overflow: hidden;
  .wrap {
    overflow: hidden;
    &:hover {
      img {
        transform: scale(1.05);
      }
    }
  }
  img {
    cursor: zoom-in;
    transition: cubic-bezier(0.19, 1, 0.22, 1) 2s;
  }
}

// 커서 cursor
.cursor-pointer {
  cursor: pointer;
}

// 가로선 hr
hr {
  border-color: $black !important;
  margin-top: 0 !important;
  margin-bottom: 0 !important;
}

// 버튼 buttons
.close-line {
  width: 48px;
  height: 2px;
  // margin: 3px 0;
  background-color: white;
  &:first-child {
    transform: rotate(45deg);
  }
  &:last-child {
    transform: rotate(-45deg);
  }
}
.btn {
  &:hover,
  &.hover,
  &.active,
  &:active,
  &:focus,
  &.focus {
    outline: none;
    box-shadow: none;
    border-color: #ddd !important;
  }
}

.b-sidebar > .b-sidebar-header .close {
  border: 1px solid transparent !important;
  border-radius: 55% 100% / 100% 55% !important;
  font-size: 2rem;
  color: $black;
  opacity: 1;
  &:hover,
  &:focus,
  &.focus,
  &.hover {
    border-collapse: collapse;
    box-shadow: none;
    border: 1px solid #ddd !important;
  }
}

.rounded-circle {
  border-radius: 55% 100% / 100% 55% !important;
}

// modal
.modal-header {
  margin: 0.25rem 0;
  border-width: 0;
  .close {
    padding: 0;
    font-size: 36pt;
    color: $white;
  }
}
.modal-content {
  border-radius: 0;
  border-width: 0;
  background-color: transparent;
}
.modal-body {
  padding: 0 !important;
}
.modal-backdrop {
  opacity: 0.9;
}
.modal-footer {
  padding: 0;
}

// 단락 paragraph
p.desc {
  margin-bottom: 8px;
}

// reset : bootstrap에 있는 기본 것들을 리셋할때 사용
h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6,
figcaption,
figure,
p {
  margin: 0;
  margin-bottom: 0;
}

.btn,
textarea,
textarea.form-control,
.form-control {
  &:focus,
  &.focus,
  &:hover,
  &.hover,
  &.active,
  &:active {
    outline: none;
    box-shadow: none;
    border-color: $gray-f4;
  }
}

//button
.btn-secondary {
  color: #fff;
  &:focus,
  &.focus,
  &:hover,
  &.hover,
  &.active,
  &:active {
    color: #fff !important;
    outline: none !important;
    box-shadow: none !important;
  }
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

// 투명도 opacity
@for $var from 0 through 10 {
  .opacity-#{$var} {
    opacity: #{$var/10};
  }
}

// 보더
@for $var from 0 through 10 {
  .border-#{$var} {
    border-width: #{$var}px !important;
  }
}

hr {
  border-top-color: $gray-f4;
  margin: 15px 0;
}
