// .player-line-enter-active,
// .player-line-leave-active {
//   transition: all 0.5s;
// }
// .player-line-enter,
// .player-line-leave-to {
//   transform: translateY(45px);
//   opacity: 0;
//   border-width: 0;
// }

.player-line-enter-active {
  animation: player-line 0.5s;
  transition: cubic-bezier(0.6, 0.04, 0.98, 0.335);
}
.player-line-leave-active {
  animation: player-line 0.5s reverse;
}
@keyframes player-line {
  0% {
    height: 0%;
    opacity: 0;
    transform: translateY(45px);
  }

  100% {
    transform: translateY(0);
    height: 100%;
    opacity: 1;
  }
}

.gnb-show-enter-active {
  animation: width-anime 2.4s;
  transition: cubic-bezier(0.215, 0.61, 0.355, 1);
}
.gnb-show-leave-active {
  animation: player-line 0.5s reverse;
}
@keyframes width-anime {
  0% {
    width: 0%;
    opacity: 0;
  }

  100% {
    width: 100%;
    opacity: 1;
  }
}
