// colors
$primary: #333399;
$secondary: #ededed;

// grays
$black: #000;
$white: #fff;
$backdrop: rgba(0, 0, 0, 0.3);
$gray-op-10: rgba(0, 0, 0, 0.1);
$gray-1: #111;
$gray-6: #666;
$gray-f4: #f4f4f4;
$gray-f7: #f7f7f7;
$gray-f8: #f8f8f8;
$gray-e9: #e9e9e9;
$gray-dark: #222b45;
$gray-light: rgba(137, 146, 163);
$transparent: rgba(0, 0, 0, 0);

$theme-colors: (
  "primary": $primary,
  "black": $black,
  "white": $white,
  "backdrop": $backdrop,
  "gray-op-10": $gray-op-10,
  "gray-1": $gray-1,
  "gray-6": $gray-6,
  "gray-f4": $gray-f4,
  "gray-f7": $gray-f7,
  "gray-f8": $gray-f8,
  "gray-e9": $gray-e9,
  "gray-dark": $gray-dark,
  "gray-light": $gray-light,
  "transparent": $transparent,
) !default;

// gradient

$gradients: (
  "primary": linear-gradient(45deg, #748bdf, #c86dd7, #d52d95),
  "primary-light":
    linear-gradient(
      45deg,
      rgba(116, 139, 223, 0.5),
      rgba(200, 109, 215, 0.5),
      rgba(213, 45, 149, 0.5)
    ),
);

@each $name, $val in $gradients {
  .bg-gradient-#{$name} {
    background: $val;
  }
  .badge-gradient-#{$name} {
    background: $val;
  }
  .border-gradient-#{$name} {
    border-style: solid;
    border-image-source: $val;
    border-image-width: 1px;
    box-sizing: border-box;
    border-image-slice: 1;
    background-clip: content-box, border-box;
    border-radius: inherit;
  }
}

.bg-opacity-5 {
  background: opacify($color: #000000, $amount: 0);
}
